<div class="alert alert-dark" role="alert" *ngIf="successMsg">
    {{successMsg}}
 </div>
 <div class="alert alert-primary" role="alert" *ngIf="errorMsg">
   {{errorMsg}}
 </div>
<input type="text" class="form-control" [(ngModel)]="brandname" placeholder="Brand name" aria-label="Brand name" aria-describedby="basic-addon2">
<br>
<div class="input-group-append">
    <button (click)="onClick()" class="btn btn-outline-secondary" type="button" style="background-color: yellowgreen;">Button</button>
</div>