.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card-wrapper {
    display: flex;
    width: 100%;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.price-card {
    flex: 2; /* Takes up two-thirds of the page */
    margin-right: 20px; /* Space between the two cards */
}

.next-step-card {
    flex: 1; /* Takes up one-third of the page */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.car-image {
    width: 80%;
    height: auto;
    border-radius: 10px;
}

.small-car-image {
    width: 100px;
    height: auto;
}

.price-info h2 {
    margin-top: 20px;
    font-size: 24px;
}

.price {
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0;
}

.note {
    font-size: 14px;
    color: #777;
}

.book-inspection-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.book-inspection-btn:hover {
    background-color: #0056b3;
}

.get-car-price-btn{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;

}
.get-car-price-btn:hover{
    background-color: #0056b3;
}

.text-content h2 {
    font-size: 1.5em;
    margin-bottom: 5px; /* Reduced margin */
}

.text-content p {
    font-size: 1.1em;
    margin-bottom: 5px; /* Reduced margin */
}