<div class="container-fluid color p-0"> <!-- Removed m-0 from here -->
    <div class="row m-0"> <!-- Keep m-0 on the row -->
        <div class="col-lg-2 bg-dark p-0 fixed-sidebar"> <!-- Added fixed-sidebar class -->
            <div class="d-flex flex-column align-items-start pt-2 text-white min-vh-100" style="padding: 0;"> <!-- Removed margin -->
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none" style="margin-left: 10px;">
                    <span class="fs-5 d-inline">RoadReady</span> <!-- Changed d-none to d-inline -->
                </a>
                <ul class="nav nav-pills flex-column align-items-start" id="menu" style="padding: 0; margin: 0;"> <!-- Remove padding and margin -->
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-3">
                            <i class="fs-4 bi-house"></i>
                            <span class="ms-1 d-none d-sm-inline" style="color: greenyellow;">Filters</span>
                        </a>
                    </li>
                    <li>
                        <a href="/" class="nav-link px-3 align-middle">
                            <i class="fs-4 bi-list-check"></i>
                            <span class="ms-1 d-none d-sm-inline" style="color: greenyellow;">Main Page</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/customer/rentalcars" class="nav-link px-3 align-middle">
                            <i class="fs-4 bi-heart"></i>
                            <span class="ms-1 d-none d-sm-inline" style="color: greenyellow;">Rental Cars</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/login" class="nav-link px-3 align-middle">
                            <i class="fs-4 bi-activity"></i>
                            <span class="ms-1 d-none d-sm-inline" style="color: greenyellow;">Sell Used Cars</span>
                        </a>
                    </li>
                </ul>
                <hr style="border-color: white;"> <!-- Optional: Change the hr color -->
            </div>
        </div>
        
    </div>
</div>


