<div class="container-fluid color p-0">
    <div class="row m-0">
        <div class="col-lg-12 bg-dark p-0">
            <div class="d-flex flex-column align-items-start pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none" style="margin-left: 15px;"> <!-- Added margin-left -->
                    <span class="fs-5 d-none d-sm-inline">RoadReady</span>
                </a>
                <ul class="nav nav-pills flex-column align-items-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-3">
                            <i class="fs-4 bi-house"></i>
                            <span class="ms-1 d-none d-sm-inline" style="color: greenyellow;">Filters</span>
                        </a>
                    </li>
                    <li>
                        <a href="/" class="nav-link px-3 align-middle">
                            <i class="fs-4 bi-list-check"></i>
                            <span class="ms-1 d-none d-sm-inline" style="color: greenyellow;">Main Page</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/customer/rentalcars" class="nav-link px-3 align-middle">
                            <i class="fs-4 bi-heart"></i>
                            <span class="ms-1 d-none d-sm-inline" style="color: greenyellow;">Rental Cars</span>
                        </a>
                    </li>
                    <li>
                        <a href="/login" class="nav-link px-3 align-middle">
                            <i class="fs-4 bi-activity"></i>
                            <span class="ms-1 d-none d-sm-inline" style="color: greenyellow;">Sell Used cars</span>
                        </a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
    </div>
</div>

