
        <div class="container mt-5">
            <div class="row">
              <div class="col-md-6">
                <img src="200.jpg" alt="Car Image" class="car-image img-fluid">
              </div>
              <div class="col-md-6">
                <div class="car-details">
                  <h2>{{filteredRentalCar.variant.manufacturer.name}}</h2>
                  <h2>{{filteredRentalCar.variant.model}}</h2>
                  <p><strong>Price per day:</strong> {{filteredRentalCar.pricePerDay}}</p>
                  <p><strong>Mileage limit:</strong> 100 miles</p>
                  <p><strong>Fuel Type:</strong> {{filteredRentalCar.fuelType}}</p>
                  <p><strong>Transmission:</strong> {{filteredRentalCar.transmissionType}}</p>
                 
                  <p><strong>Color:</strong> {{filteredRentalCar.color}}</p>
                  <p><strong>Availability Status:</strong> {{filteredRentalCar.availabilityStatus
                  }}</p>
                  <!-- <p><strong>PricePerDay</strong> 3000</p> -->
                  <p><strong>Location</strong> Hyderabad</p>
                  <p><strong>Seating capacity</strong> {{filteredRentalCar.seatingCapacity}}</p>
                  <p><strong>Description:</strong> This 2024 Toyota Supra offers a powerful driving experience with its turbocharged engine, stylish design, and high-tech features. Perfect for those who crave performance and comfort.</p>
                  <a href="/customer/rentalcars/booking" class="btn btn-outline-primary mt-3" style="color: rgb(0, 0, 0) ; border-color: rgb(0, 0, 0);">book rent</a>
                </div>
              </div>
            </div>
          </div>


   
    
  