<div class="container-fluid">
    <div class="row" style="padding: 0; margin: 0;">
      <div class="col-sm-2" style="padding: 0; margin: 0;">
        <app-customersidebar></app-customersidebar>
      </div>
      <div class="col-sm-10" style="padding: 0; margin: 0;">
        <app-customer-navbar></app-customer-navbar>
      

        <div class="container mt-5">
            <div class="row">
              <div class="col-md-6">
                <img src="200.jpg" alt="Car Image" class="car-image img-fluid">
              </div>
              <div class="col-md-6">
                <div class="car-details">
                  <h2>TATA NEXUS</h2>
                  <p><strong>Price:</strong> $55,000</p>
                  <p><strong>Mileage limit:</strong> 100 miles</p>
                  <p><strong>Fuel Type:</strong> Petrol</p>
                  <p><strong>Transmission:</strong> Automatic</p>
                 
                  <p><strong>Color:</strong> Red</p>
                  <p><strong>PricePerDay</strong> 3000</p>
                  <p><strong>Location</strong> Hyderabad</p>
                  <p><strong>Description:</strong> This 2024 Toyota Supra offers a powerful driving experience with its turbocharged engine, stylish design, and high-tech features. Perfect for those who crave performance and comfort.</p>
                  <a href="/customer/rentalcars/booking" class="btn btn-outline-primary mt-3" style="color: rgb(0, 0, 0) ; border-color: rgb(0, 0, 0);">book rent</a>
                </div>
              </div>
            </div>
          </div>


        

      </div>
    </div>
</div>
