<div class="container-fluid color">
    <div class="row container-fluid  ">
        <div class=" col-lg-12 bg-dark"  >
            <div class="d-flex flex-column align-items-center align-items-sm-start  pt-2 text-white min-vh-100 ">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">RoadReady</span>
                </a>
                <ul class="nav nav-pills flex-column  align-items-center align-items-sm-start  " id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline" style="color: greenyellow;">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-list-check"></i> <span class="ms-1 d-none d-sm-inline" style="color: greenyellow;">My Orders</span></a>
                    </li>
                    <li>
                        <a routerLink="/customer/wishlisted-cars" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-heart"></i> <span class="ms-1 d-none d-sm-inline" style="color: greenyellow; ">Wishlisted Cars</span></a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-activity"></i> <span class="ms-1 d-none d-sm-inline" style="color: greenyellow;">My Activity</span></a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-clock-history"></i> <span class="ms-1 d-none d-sm-inline" style="color: greenyellow;">Rental History</span></a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-person-circle"></i> <span class="ms-1 d-none d-sm-inline" style="color: greenyellow;">Profile Settings</span></a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-box-arrow-right"></i> <span class="ms-1 d-none d-sm-inline" style="color: greenyellow;">Logout</span></a>
                    </li>
                </ul>
                <hr>
                <div class="d-flex align-items-center pb-4">
                    <img src="https://github.com/mdo.png" alt="User Avatar" width="40" height="40" class="rounded-circle me-2">
                    <span class="d-none d-sm-inline text-white"></span>
                </div>
            </div>
        </div>
    </div>
</div>

