.section {
    padding: 20px;
  }

 /* .top-left {
    background-color: lightblue;
  }*/

 /* .top-right {
    background-color: lightgreen;
  }*/

 /* .bottom {
    background-color: lightcoral;
  }*/

  /* Add margin to the top of the content section */
  .content-area {
    margin-top: 20px;
  }

  /* Ensure sidebar takes up full height */
  .bg-dark {
    height: 100vh;
  }

  app-sellersidebar {
    white-space: nowrap;  /* Prevent text from wrapping to a new line */
    overflow: hidden;     /* Hide any overflow */
    text-overflow: ellipsis; /* Show ellipsis if text is too long */
}


.app-sellersidebar-content {
    padding: 10px;  /* Optional: Add padding for aesthetics */
    color: white;    
}
