<app-titlenavabar></app-titlenavabar>
<div class="container">
    <div class="card-wrapper">
        <!-- Price Estimate Card -->
        <div class="card price-card">
            <img src="car2.jpg" alt="Car Image" class="car-image">
            <div class="price-info">
                <h2>PRICE ESTIMATE</h2>
                <p class="price">₹40,51,177 </p>
                <p class="note">You may get a better price upon inspection</p>
            </div>
        </div>

        <!-- What's Next Card -->
        <div class="card next-step-card">
            <img src="inspect.png" alt="Small Car Image" class="small-car-image">
            <div class="text-content">
                <h3>WHAT'S NEXT?</h3>
                <p>We'll make you an offer after our expert physically verifies your car's condition</p>
            </div>
            <button class="book-inspection-btn" (click)="onclick()">BOOK INSPECTION</button>
        </div>
    </div>
</div>
