.custom-car-card {
  border-radius: 15px; /* Rounded edges */
  background-color: #343a40; /* Dark background color */
  color: white; /* White text color */
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.custom-car-card:hover {
  background-color: #495057; /* Lighter dark color on hover */
  transform: scale(1.05); /* Slight zoom on hover */
}

.custom-car-card .card-title {
  font-size: 1.1em;
}

.custom-car-card .card-body p {
  color: #f8f9fa; /* Light text for details */
}

/* Style for multi-level dropdown */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}
