<app-navbar></app-navbar>

<div class="container py-5">
    <div class="row align-items-center">
        <!-- Text Section -->
        <div class="col-md-6">
            <h1 class="display-4 text-white">Welcome to Road Ready!</h1>
            <p class="lead text-white">Your one-stop platform for buying, selling, and renting cars.</p>
            <hr class="my-4" style="border-color: #fff;">
            <p class="text-white">We provide an excellent selection of used cars for purchase, amazing rental options, and an easy way to sell your car. Road Ready has it all covered!</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
        <!-- Image Section -->
        <div class="col-md-6">
            <img src="https://via.placeholder.com/500x300" alt="Car image" class="img-fluid rounded">
        </div>
    </div>
</div>



