<div class="container">
    <div class="row m-0">
        <div class="col-lg-7 pb-5 pe-lg-5">
            <div class="row">
                <div class="col-12 p-5">
                    <img src="https://www.freepnglogos.com/uploads/honda-car-png/honda-car-upcoming-new-honda-cars-india-new-honda-3.png"
                        alt="" class="img-fluid">
                </div>
                <div class="row m-0 bg-light">
                    <div class="col-md-4 col-6 ps-3 pe-0 my-4">
                        <p class="text-muted">Mileage</p>
                        <p class="h5">15000<span class="ps-1">Km</span></p>
                    </div>
                    <div class="col-md-4 col-6 ps-3 my-4">
                        <p class="text-muted">Transmission</p>
                        <p class="h5 m-0">Manual</p>
                    </div>
                    <div class="col-md-4 col-6 ps-3 my-4">
                        <p class="text-muted">Fuel</p>
                        <p class="h5 m-0">Petrol</p>
                    </div>
                    <div class="col-md-4 col-6 ps-3 my-4">
                        <p class="text-muted">Year</p>
                        <p class="h5 m-0">2021</p>
                    </div>
                    <div class="col-md-4 col-6 ps-3 my-4">
                        <p class="text-muted">Color</p>
                        <p class="h5 m-0">White</p>
                    </div>
                    <div class="col-md-4 col-6 ps-3 my-4">
                        <p class="text-muted">Seaters</p>
                        <p class="h5 m-0">5</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 p-0 ps-lg-4">
            <div class="row m-0">
                <div class="col-12 px-4">
                    <div class="d-flex align-items-end mt-4 mb-2">
                        <p class="h4 m-0"><span class="pe-1">Toyota</span><span class="pe-1">Corolla</span></p>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted">Quantity</p>
                        <p class="fs-14 fw-bold">1</p>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted">Base Price</p>
                        <p class="fs-14 fw-bold"><span class="fas fa-rupee-sign pe-1"></span>10,00,000</p>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted">Inspection Charges</p>
                        <p class="fs-14 fw-bold"><span class="fas fa-rupee-sign pe-1"></span>1,500</p>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted">Documentation Fee</p>
                        <p class="fs-14 fw-bold"><span class="fas fa-rupee-sign px-1"></span>5,000</p>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <p class="text-muted fw-bold">Service Charge</p>
                        <div class="d-flex align-text-top">
                            <p class="fs-14 fw-bold"><span class="fas fa-rupee-sign pe-1"></span>30,000</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted">Warranty Option</p>
                        <p class="fs-14 fw-bold"><span class="fas fa-rupee-sign pe-1"></span>5,000</p>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <p class="text-muted fw-bold">Total Amount</p>
                        <div class="d-flex align-text-top">
                            <span class="fas fa-rupee-sign mt-1 pe-1 fs-14"></span>
                            <span class="h4">10,41,500</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 px-0">
                    <div class="row bg-light m-0">
                        <div class="col-12 px-4 my-4">
                            <p class="fw-bold">Payment Details</p>
                        </div>
                        <div class="col-12 px-4">
                            <div class="mb-4">
                                <label for="cardNumber" class="text-muted">Card Number</label>
                                <input id="cardNumber" class="form-control mb-3" type="text" value="4485 6888 2359 1498" placeholder="1234 5678 9012 3456">
                            </div>
                            <div class="mb-4">
                                <label for="expiryDate" class="text-muted">Expires</label>
                                <input id="expiryDate" class="form-control mb-3" type="text" value="01/2025" placeholder="MM/YYYY">
                            </div>
                            <div class="mb-4">
                                <label for="cardholderName" class="text-muted">Cardholder Name</label>
                                <input id="cardholderName" class="form-control mb-3" type="text" value="David J. Frias" placeholder="Name">
                            </div>
                            <div class="mb-4">
                                <label for="cvc" class="text-muted">CVC</label>
                                <input id="cvc" class="form-control mb-3" type="text" value="630" placeholder="XXX">
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-12 mb-4 p-0">
                            <button class="btn btn-primary w-100">Purchase<span class="fas fa-arrow-right ps-2"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
