<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <app-sellersidebar></app-sellersidebar>
    </div>

    <div class="col-md-9 col-xl-10 px-sm-2 px-0">
      <div class="content-container">
        <div class="row justify-content-center">
          <div class="col-md-6 mb-4">
            <div class="car-details-container p-4 shadow-sm bg-light rounded">
              <h2 class="title">Car Details</h2>
              <div class="details">
                <p><strong>Final Price:</strong> {{ finalPrice }}</p>
                <p><strong>Membership Type:</strong> {{ membershipType }}</p>
              </div>
              <button class="btn btn-primary" (click)="openSellCarModal()">Sell Car</button>

              <div class="error-message" *ngIf="errorMessage">
                <p>{{ errorMessage }}</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <div class="calculation-overview-container p-4 shadow-sm bg-light rounded">
              <h2 class="title">How Final Price is Calculated</h2>
              <ul class="calculation-steps">
                <li>
                  <strong>Step 1:</strong> We begin by evaluating the car's <strong>base market value</strong> based on its age, mileage, and number of previous owners.
                </li>
                <li>
                  <strong>Step 2:</strong> The service charge is added to the base market value to account for listing and maintenance costs.
                </li>
                <li>
                  <strong>Step 3:</strong> Your <strong>membership type</strong> (Premium, Gold, or Silver) is applied, adjusting the price based on exclusive membership benefits.
                </li>
               
              </ul>
              <div class="alert alert-danger mt-4" *ngIf="errorMessage">
                <p>{{ errorMessage }}</p>
              </div>
            </div>
          </div>
        </div>

       
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" [ngClass]="{'show': isModalOpen}" [ngStyle]="{'display': isModalOpen ? 'block' : 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Car Up for SALE!!</h5>
        <button type="button" class="btn-close" (click)="closeSellCarModal()"></button>
      </div>
      <div class="modal-body">
        <p>Our platform will find a buyer and notify you.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeSellCarModal()">Cancel</button>
        <!-- <button type="button" class="btn btn-success" (click)="confirmSellCar()">Confirm</button> -->
      </div>
    </div>
  </div>
</div>
