<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <app-customersidebar></app-customersidebar>
    </div>
    <div class="col-md-9">
      <div class="wishlist-container">
        <h2>Your Wishlist....</h2>
        <p>Only {{ usedCar.length }} item(s) wishlisted, you can explore more</p>
        <div *ngIf="usedCar && usedCar.length > 0" class="row">
          <div class="col-md-12" *ngFor="let uc of usedCar">
            <div class="card mb-4 wishlist-card">
              <div class="row no-gutters align-items-center">
                <div class="col-md-3 position-relative">
                  <img
                    [src]="uc.imagePath"
                    class="card-img-top"
                    alt="Car image"
                    style="height: 180px; width: 100%; padding-top: 10px; object-fit: cover; margin-left: 10px;" 
                  />
                  <div class="availability-tag">
                    <span class="tag">Verified</span>
                  </div>
                </div>
                <div class="col-md-8 d-flex justify-content-between align-items-center">
                  <div class="card-body">
                    <h5 class="card-title">{{ uc.usedCar.model.brand.brandname }} {{ uc.usedCar.model.modelname }} ({{ uc.usedCar.year }})</h5>
                    <p class="card-text">{{ uc.usedCar.fuelType }} {{ uc.usedCar.transmissionType }}</p>
                    <p class="card-text"> Rs {{ uc.usedCar.finalprice }}</p>
                    <p class="card-text"> {{ uc.usedCar.status }}</p>
                    <a href="/usedcars/view-more-details/{{ uc.usedCar.id }}" class="card-link">Check Now</a>
                  </div>
                  <button type="button" class="btn btn-danger" (click)="deleteFromWishlist(uc.usedCar.id)">Remove</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #noItems>
          <p>Your wishlist is empty.</p>
        </ng-template> 
      </div>
    </div>
  </div>
</div>
