<div class="container-fluid">
  <div class="row">
      <div class="col-md-3 col-xl-2 px-sm-2 px-0 bg-dark text-white sidebar-fixed">
          <app-sellersidebar></app-sellersidebar>
      </div>

      <div class="col-md-9 col-xl-10 d-flex justify-content-center align-items-center" style="min-height: 100vh; padding-top: 50px;">
          <div class="card" style="width: 100%; max-width: 500px; margin: auto;">
              <div class="card-body">
                  <h5 class="card-title text-center">Choose a Location</h5>
                  <p class="card-text text-center" style="font-size: 14px;">Our expert will come and inspect your car</p>
                  <h6 class="text-center" style="margin-bottom: 20px;">Where shall we inspect your car?</h6>

                  <div class="icon-group text-center">
                      <a (click)="toggleAddressBox('home')">
                          <i class="fas fa-home fa-2x text-primary"></i>
                      </a>
                      <a (click)="toggleAddressBox('work')">
                          <i class="fas fa-briefcase fa-2x text-success"></i>
                      </a>
                      <a (click)="toggleAddressBox('other')">
                          <i class="fas fa-ellipsis-h fa-2x text-info"></i>
                      </a>
                  </div>
                  <hr />

                  <div class="address-box" *ngIf="showHomeAddress">
                      <h6>Home Address</h6>
                      <input type="text" class="form-control" placeholder="Enter home address" [(ngModel)]="bookingDetails.address">
                  </div>

                  <div class="address-box" *ngIf="showWorkAddress">
                      <h6>Work Address</h6>
                      <input type="text" class="form-control" placeholder="Enter work address" [(ngModel)]="bookingDetails.address">
                  </div>

                  <div class="address-box" *ngIf="showOtherAddress">
                      <h6>Other Address</h6>
                      <input type="text" class="form-control" placeholder="Enter other address" [(ngModel)]="bookingDetails.address">
                  </div>

                  <hr />
                  <div class="row">
                    <div class="col-sm-6 col-lg-5 mb-3 mb-sm-0">
                        <input type="date" id="date-picker" name="date-picker" class="form-control" [(ngModel)]="bookingDetails.date">
                    </div>
                      <div class="col-sm-6 col-lg-5 mb-3 mb-sm-0">
                          <input type="time" id="time-picker" name="time-picker" class="form-control" [(ngModel)]="bookingDetails.time">
                      </div>
                  </div>

                  <div class="text-center mt-3">
                      <button class="btn btn-primary btn-block" (click)="bookInspection()">Book Inspection</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="confirmationModalLabel">Inspection Booked!</h5>
              <button type="button" class="close" (click)="hideModal()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <p class="text-secondary mb-5">Check dashboard to know about verification status.</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="hideModal()">Close</button>
          </div>
      </div>
  </div>
</div>
